* {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 740px;
    background-color: #535059;
    background-image: url(/img/bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}