@font-face {
    font-family: 'Oswald';
    src: url('/vendor/fonts/Oswald-VariableFont_wght.ttf');
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 740px;
    background-color: #535059;
    background-image: url(/img/bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 60px;
    height: 60px;
}

.menu-gamb {
    width: 50px;
    height: 50px;
    background-color: #f7654a;
    color: #ffffff;
    font-size: 26px;
    text-align: center;
    padding-top: 11px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    margin-top: 112px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 35px;
    letter-spacing: 1px;
}

.years {
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1110px;
    height: 300px;
    margin: -150px auto 0;
    background-color: #ffffff;
}

.years_item {
    width: 190px;
    background-color: #ffffff;
}

.years_item p {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
}

p.num {
    font-size: 72px;
    color: #f7654a;
}

p.year {
    font-size: 36px;
    color: #000;
}

p.market {
    font-size: 18px;
    color: #999999;
}